<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
<script src="controllers/loginRedirectController.js"></script>
<script src="controllers/adminController.js"></script>

<head>
    <title>BevCart - Admin Home</title>
</head>

<body>
    <div ng-app="adminApp" ng-controller="adminController">
        <div>
            <h3>Pending Requests (no provider yet)</h3>
            <ul>
                <li ng-repeat="obj in service_request_data | filter:{ provider: 'n/a'}">{{ obj.type }} : {{ obj.order }}</li>
            </ul>
        </div>
        <div>
            <h3>Incomplete Jobs</h3>
            <ul>
                <li ng-repeat="obj in service_request_data | filter:{ completed: false, provider: '!n/a'}">{{ obj.type }} : {{ obj.order }} ({{ obj.provider}})</li>
            </ul>
        </div>
        <div>
            <h3>Completed Jobs</h3>
            <ul>
                <li ng-repeat="obj in service_request_data | filter:{ completed: true}">{{ obj.type }} : {{ obj.order }} : ({{ obj.provider}})</li>
            </ul>
        </div>
    </div>
</body>

</html>
