<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

<body ng-app="home" ng-controller="controller">
    <div>
        <h1>Welcome {{ userEmail }}</h1>
        <button ng-click="logout()">logout</button>
    </div>

    <div>
        <form novalidate>
            Food/Drink:
            <input type="text" ng-model="type">
            <br> What you want:
            <input type="text" ng-model="order">
            <br> Quanity:
            <input type="text" ng-model="orderQuanity">
            <br> Hole Number:
            <input type="text" ng-model="holeNumber">
            <br>
            <button ng-click="submit()">Place Order</button>
        </form>
    </div>
    <div>
        <h3>Pending Requests (no provider yet)</h3>
        <ul>
            <li ng-repeat="obj in service_request_data | filter:{ provider: 'n/a'}">{{ obj.type }} : {{ obj.order }}</li>
        </ul>
    </div>
    <div>
        <h3>Incomplete Jobs</h3>
        <ul>
            <li ng-repeat="obj in service_request_data | filter:{ completed: false, provider: '!n/a'}">{{ obj.type }} : {{ obj.order }} ({{ obj.provider}})</li>
        </ul>
    </div>
    <div>
        <h3>Completed Jobs</h3>
        <ul>
            <li ng-repeat="obj in service_request_data | filter:{ completed: true}">{{ obj.type }} : {{ obj.order }} : ({{ obj.provider}})</li>
        </ul>
    </div>

    <script>
        var app = angular.module('home', ["firebase"]);
        app.controller('controller', function($scope, $firebaseArray) {
            var ref = new Firebase("https://bevcart.firebaseio.com/");
            var authData = ref.getAuth();
            //console.log(authData);
            if (authData) {
                ref.child("role").child(authData.uid).on("value", function(data) {
                    if (data.val() == "provider") {
                        window.location.href = "providerHome.html";
                    } else if (data.val() == "admin") {
                        window.location.href = "adminHome.html";
                    }
                });
            } else {
                window.location.href = "index.html";
            }
            //if we still alive we are logged in and a normal user
            $scope.userEmail = authData.password.email;
            //get the data for our pending service requests
            var service_requests = ref.child("service_requests");
            $scope.service_request_data = $firebaseArray(service_requests.orderByChild("user").equalTo(authData.uid));

            $scope.submit = function() {
                //save the new service request to firebase
                service_requests.push({
                    user: authData.uid,
                    type: $scope.type,
                    order: $scope.order,
                    quanity: $scope.orderQuanity,
                    location: $scope.holeNumber,
                    provider: "n/a",
                    completed: false
                });
                $scope.type = "";
                $scope.order = "";
                $scope.orderQuanity = "";
                $scope.holeNumber = "";

            }
            $scope.logout = function() {
                ref.unauth();
                window.location.href = "index.html";
            }
        });

    </script>
</body>

</html>
