<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
</head>

<body ng-app="provider-home" ng-controller="controller">
    <div>
        <h1>Welcome {{ userEmail }}</h1>
        <button ng-click="logout()">logout</button>
    </div>

    <div>
        <h3>Pending Requests (no provider yet)</h3>
        <ul>
            <li ng-repeat="obj in service_request_data | filter:{ provider: 'n/a'}">
                ID: {{ obj.$id }} : {{ obj.type }} : {{ obj.order }}
            </li>
        </ul>
    </div>
    <div>
        <h3>Incomplete Jobs</h3>
        <ul>
            <li ng-repeat="obj in service_request_data | filter:{ completed: false, provider: authData.uid}">
                ID: {{ obj.$id }} : {{ obj.type }} : {{ obj.order }} ({{ obj.provider}})
            </li>
        </ul>
    </div>
    <div>
        <h3>Completed Jobs</h3>
        <ul>
            <li ng-repeat="obj in service_request_data | filter:{ provider: authData.uid, completed: true}">
                ID: {{ obj.type }} : {{ obj.order }} : ({{ obj.provider}})
            </li>
        </ul>
    </div>

    <div>
        <h4>Enter Job ID: </h4>
        <input type="text" ng-model="jobID"> </input>
        <button ng-click="acceptJob()">accept</button>
        <button ng-click="completeJob()">complete</button>
    </div>

    <script>
        var myApp = angular.module("provider-home", ["firebase"]);

        myApp.controller("controller", function($scope, $firebaseArray) {

            var ref = new Firebase("https://bevcart.firebaseio.com");
            var roleRef = ref.child("role");
            $scope.authData = ref.getAuth();

            if ($scope.authData) {
                roleRef.child($scope.authData.uid).on("value", function(data) {
                    if (data.val() != "provider") {
                        window.location.href = "home.html";
                    }
                });

            } else {
                window.location.href = "index.html";
            }

            $scope.userEmail = $scope.authData.password.email;

            var service_requests = ref.child("service_requests");
            $scope.service_request_data = $firebaseArray(service_requests);

            $scope.completeJob = function() {
                service_requests.child($scope.jobID).update({
                    completed: true
                });
            }

            $scope.acceptJob = function() {
                service_requests.child($scope.jobID).update({
                    provider: $scope.authData.uid
                });
            }

            $scope.logout = function() {
                ref.unauth();
                window.location.href = "index.html";
            }
        });

    </script>
</body>

</html>
